@charset "UTF-8";
/* Fuentes */
@font-face {
  font-family: "TiemposFont";
  src: url("../../src/fonts/tiempos/TiemposHeadline-Light.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v21/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Xw9aXpsog.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
body {
  background-color: #ececec;
}

/* --------------------- Header --------------------- */
header {
  background-color: #0d0630;
  display: inline-block;
}

#user-navbar {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#disable {
  display: none;
  margin-left: 2empx;
}

#disable2 {
  display: inline;
}

/* logo */
.logo {
  font-family: "Yellowtail";
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 1em 0 1em;
  font-size: 2em;
  color: #8bbeb2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-right: 1px solid #afbef03a;
}
.logo:hover {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.logo:hover {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* texto */
.txt-header {
  font-weight: bold;
  text-transform: uppercase;
  color: #8bbeb2;
}
.txt-header:hover {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* efectos/colores */
.header-effect {
  display: inline;
  padding-bottom: 4px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: -o-linear-gradient(currentColor, currentColor);
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 1% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 0.3s;
  -o-transition: background-size 0.3s;
  transition: background-size 0.3s;
}

.header-effect:hover {
  background-size: 100% 2px;
}

#navbar-color {
  border-color: #afbef03a;
  border: 4px solid #afbef03a;
}

.fill-icon-navbar {
  fill: #8bbeb2;
  width: 25px;
}

.fill-icon-navbar-2 {
  width: 35px;
  fill: #8bbeb2;
}
.fill-icon-navbar-2:hover:hover {
  fill: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.navbar-pad {
  padding-left: 2em;
}

#navbar-pad-li {
  padding-right: 2em;
  padding-left: 2em;
}

.navbar-pad-ul {
  padding-left: 2em;
}

.icon-nav {
  padding: 0 3em 0 0.75em;
  border-left: 1px solid #afbef03a;
}

/* mobile */
@media (max-width: 991px) {
  .icon-nav {
    padding: 0 3em 0 0.75em;
    border-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }

  .navbar-nav-border {
    border-top: 1px solid #afbef03a;
    padding-top: 1em;
    margin-top: 0.75em;
  }

  #user-navbar {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #disable {
    display: inline;
  }

  #disable2 {
    display: none;
  }
}
.divider {
  height: 3em;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.divider2 {
  height: 0.5em;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

/* Blanco a gris claro */
.divider3 {
  height: 10em;
  background: white;
  background: linear-gradient(180deg, white 0%, #ececec 100%);
}

/* Footer pc */
footer {
  background-color: #0d0630;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.logo-footer {
  font-family: "Yellowtail";
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 3em;
  color: #8bbeb2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding-top: 0;
}
.logo-footer:hover {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.logo-footer:hover {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.mt-03 {
  padding-top: 4em;
}

.footer-copy-pad {
  padding-top: 4em;
}

.footer-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid #afbef03a;
  padding-top: 2em;
  width: 90%;
}

.social-color {
  fill: #384e77;
}

.social-color-2:hover {
  fill: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.text-whitehover {
  text-transform: uppercase;
  font-weight: bold;
  color: inherit;
}
.text-whitehover:hover {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.text-footer-color {
  color: #8bbeb2;
  text-transform: uppercase;
  font-weight: bold;
}

.text-decoration-none {
  list-style: none;
}

/* tienda */
.text-reset {
  --bs-text-opacity: 1;
  color: inherit;
}

/* Contacto */
@media (min-width: 768px) {
  .footer-contact {
    width: 200px;
  }
}
.footer-contact-txt {
  padding-left: 1em;
}

@media (min-width: 577px) {
  .faq-footer {
    padding-top: 3em;
    width: 175px;
    padding: 0;
  }
}
@media (max-width: 576px) {
  .col- {
    text-align: center;
  }

  .faq-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-sm-line {
    border-bottom: 1px solid rgba(128, 125, 125, 0.342);
    width: 80%;
    padding: 4% 0;
  }
}
.fa-home:before {
  content: "\f015";
}

/*  --------------------- Marca PRINCIPAL --------------------- */
.intro-div {
  position: relative;
  text-align: center;
  color: #0d0630;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 0px 0;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.2), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.2), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.intro-h {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Yellowtail";
  font-size: 8vw;
  cursor: default;
  font-weight: bold;
}

/* --------------------- Ofertas --------------------- */
.ofertas {
  padding-top: 2em;
}

.tienda-section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ECECEC;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23f0f0f0' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23f4f4f4' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f8f8f8' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23fbfbfb' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23FFFFFF' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23fbfbfb' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f8f8f8' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f4f4f4' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f0f0f0' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ECECEC' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.tienda-section,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/*  Indice tienda mobile   */
@media screen and (min-width: 1024px) {
  .divcat-m {
    display: none;
  }

  .span-style-m {
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.25em;
  }

  .u-font-p {
    font-size: 1em;
    letter-spacing: -0.16px;
    line-height: 1.5em;
  }

  .t6a {
    padding-left: 0;
    padding-right: 0;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
.u-font {
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.25em;
}

.divcat-m {
  margin-top: 24px;
}

@media screen and (min-width: 320px) {
  .margtop {
    margin-top: 16px;
  }

  .padbott {
    padding-bottom: 16px;
  }
}
.divcat-m-sec {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

@media (hover: hover) and (pointer: fine) {
  .xl5r3s:hover:after {
    border-bottom-color: inherit;
  }
}
.tap-m-sec {
  position: relative;
  text-decoration: none;
  outline: 0;
  padding: 12px;
  background-color: #efeff0;
  border-color: transparent;
  display: block;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.tap-m-sec:after {
  border-bottom-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  bottom: -3px;
  content: "";
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
  width: 100%;
}

.span-style-m {
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
}

.u-span-nomar {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  color: #1a1a1a;
}

.tap-m-padding-one {
  padding: 0 0.35em 0 0.75em;
}

.tap-m-padding {
  padding: 0 0.35em;
}

.u-span-nomar {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  font-family: helveticanow, helvetica, sans-serif;
}

.u-font-tw {
  font-weight: 700;
  color: #1a1a1a;
}

/* Div Tienda */
@media screen and (min-width: 768px) {
  .div-tienda {
    margin-left: 24px;
    margin-right: 24px;
  }

  .div-tienda .div-tienda {
    margin-left: -8px;
    width: calc(100% + 16px);
  }

  .div-tienda .kpgvnb {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .div-tienda {
    margin-left: auto;
    margin-right: auto;
    max-width: 1216px;
  }
}
.div-tienda-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.t2b {
  margin-top: 24px;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
  display: none;
}

@media screen and (min-width: 1024px) {
  .t2b {
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
  }
}
.t3b {
  font-weight: bold;
  padding-bottom: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t4a {
  padding-left: 12px;
}

.t5a {
  list-style: none;
}

.t5a a {
  text-decoration: none;
}

.tienda-effect:hover {
  border-bottom: 2px solid #0d0630;
}

.t6a {
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  color: #3c3a3a;
}

.t6a-b {
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  color: #8bbeb2;
}

.t6ahover:hover {
  color: #0d0630;
}

/* WRAP */
.t6a {
  padding-left: 6px;
  padding-right: 6px;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  .t6a {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
}
.t7a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%;
}

.t8a {
  padding-left: 6px;
  padding-right: 6px;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
  position: relative;
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
  .t8a {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}
@media screen and (min-width: 480px) {
  .t8a {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}
.t9a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.t10a {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: 144.357%;
  border: solid rgba(13, 6, 48, 0.15);
  border-width: 1px 1px;
}

.t11a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.t12a {
  height: auto;
  width: 101%;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.t12a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

@media screen and (min-width: 701px) {
  .t12b {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .logo-sec-tienda {
    font-family: "Yellowtail";
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 1.35em;
    color: #0d0630;
  }
  .logo-sec-tienda:hover {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
}
@media screen and (max-width: 700px) {
  .t12b {
    padding-top: 10px;
    display: block;
    left: 50%;
  }

  .logo-sec-tienda {
    font-family: "Yellowtail";
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 1.1em;
    color: #0d0630;
  }
  .logo-sec-tienda:hover {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
}
.t12c {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* --------------------- Nuevo --------------------- */
.nuevo-section {
  background-color: #ececec;
  padding-top: 202px;
  overflow: hidden;
}

.nuevo-div {
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: 5%;
}

.nuevo-h {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* tienda nuevo */
.grid-new {
  background-color: #ececec;
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 25px;
  text-align: center;
  color: #e6f9af;
}

/* --------------------- Diseño nuevo inferior --------------------- */
.diseño-nuevo-inferior {
  fill: #ececec;
  padding-bottom: 10%;
}

.marca {
  --hero-gap: 60px;
  background-color: white;
}

.marca {
  box-sizing: border-box;
}

.marca h1 {
  font-size: calc(0.5rem + 8vmin);
  font-weight: 600;
  font-family: "Yellowtail";
  color: #0d0630;
}

.marca h2 {
  font-size: calc(0.8rem + 4vmin);
  font-weight: 600;
  font-style: italic;
  line-height: 1.2;
}

.marca p {
  font-size: calc(0.8rem + 1.25vmin);
  line-height: 1.65;
  color: #8bbeb2;
  text-transform: uppercase;
  font-weight: bold;
}

.caption {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: white;
  z-index: 2;
  font-size: 0.6rem;
}

.parallax-wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: overlay;
  perspective: 10px;
}

.parallax-content {
  position: relative;
  width: 100%;
  height: calc(97.6vh - var(--hero-gap));
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
  transform: translateZ(1px);
}

.hero .marca-titulo {
  color: white;
  z-index: 2;
  text-align: center;
  transform: translateZ(-2px) scale(1.2);
}

.hero .marca-titulo p {
  margin-top: 0.5rem;
  font-size: calc(1rem + 0.75vmin);
}

.hero .marca-titulo a {
  color: white;
}

.hero::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 100%;
  transform: translateZ(8px);
  pointer-events: none;
  z-index: 3;
}

#marca-bag {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.marca-content {
  position: relative;
  margin: 0 auto;
  padding: var(--hero-gap) 2rem;
  max-width: 725px;
  background-color: white;
}

.marca-content > * + * {
  margin-top: 2rem;
}

.scroll-icon-container {
  --size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  top: calc(var(--size) * -1);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: calc(var(--size) * 2);
  height: calc(var(--size) * 2);
  border-radius: 0.15rem;
  background-color: inherit;
  border-radius: 62px;
  box-shadow: 20px 20px 60px #c7c7c7, -20px -20px 60px #f9f9f9;
  z-index: 4;
}
.scroll-icon-container:active {
  background: #e0e0e0;
  box-shadow: inset 25px 25px 49px #c7c7c7, inset -25px -25px 49px #f9f9f9;
}

.scroll-icon-container .icon--down-arrow {
  width: var(--size);
  height: var(--size);
}

.page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Montserrat";
  font-size: 1.3em;
  padding: 3em 3em;
  border-bottom: 1px solid #cac5c5;
  margin: 0 40px;
}

.sec-map-txt {
  padding: 3em;
}

strong {
  font-weight: bold;
  font-size: 1em;
}

@media screen and (max-width: 991px) {
  .local-dire {
    padding-top: 2em;
  }
}
.flip-box-n {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10% 0px;
  font-family: "Montserrat";
}

.flip-box-n h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 5%;
  font-family: "Montserrat";
}

.flip-box-n p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 15%;
  font-family: "Montserrat";
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  padding: 10px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-box-back {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

/* Frente */
.flip-box-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  border-radius: 15px;
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #384e77;
  color: #e6f9af;
}

/* Style the back side */
.flip-box-back {
  background-color: #384e77;
  color: #e6f9af;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.destacado {
  padding: 5em 0;
  background-color: #ececec;
}

.destacado-row {
  justify-content: center;
}

.destacado-div {
  display: flex;
}

.destacado-div-2 {
  display: block;
}

.destacado-img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.destacado-img:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/* outfit semanal */
/* gorras */
#container-destacado {
  width: 452px;
  height: 268px;
  margin: 5em auto;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.box {
  width: 452px;
  height: 268px;
  box-sizing: border-box;
  overflow: hidden;
}
.box .destacado-img-2 {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 452px;
  height: 268px;
}
.box .destacado-img-2:hover {
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -moz-transform: scale(1.1);
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  -o-transform: scale(1.1);
  /* Opera */
  transform: scale(1.1);
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #container-destacado {
    width: 315px;
    height: 197px;
    margin: 5em auto;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }

  .box {
    width: 315px;
    height: 197px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .box .destacado-img-2 {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 315px;
    height: 197px;
  }
  .box .destacado-img-2:hover {
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1);
  }
}
/* mochilas */
#container-destacado-2 {
  width: 436px;
  height: 629px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.box2 {
  width: 436px;
  height: 629px;
  box-sizing: border-box;
  overflow: hidden;
}
.box2 .destacado-img-2b {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 436px;
  height: 629px;
}
.box2 .destacado-img-2b:hover {
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -moz-transform: scale(1.1);
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  -o-transform: scale(1.1);
  /* Opera */
  transform: scale(1.1);
}

.destacado-h2 {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

/* texto dentro de imagen */
/* gorra*/
.sec-destacado {
  padding: 5% 0;
  overflow: hidden;
}

.div-destacado {
  position: relative;
  text-align: center;
  color: white;
}

.h-destacado {
  position: absolute;
  font-size: calc(2rem + 0.75vmin);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -150%);
  -ms-transform: translate(-50%, -150%);
  transform: translate(-50%, -150%);
  color: white;
}

/* mochila */
.sec-destacado-2 {
  padding: 5% 0;
  overflow: hidden;
}

.div-destacado-2 {
  padding-bottom: 5em;
  position: relative;
  text-align: center;
  color: white;
}

.h-destacado-2 {
  position: absolute;
  font-size: calc(2rem + 0.75vmin);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -150%);
  -ms-transform: translate(-50%, -150%);
  transform: translate(-50%, -150%);
  color: white;
}

.sec-chaquetas {
  padding: 5% 0;
  overflow: hidden;
}

/* Imagen  +  texto */
.div-chaquetas {
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: 5%;
}

.h-chaquetas {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -150%);
  -ms-transform: translate(-50%, -150%);
  transform: translate(-50%, -150%);
  font-family: "Montserrat";
}

/* catalogo */
.cat-chaquetas {
  padding-top: 1%;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-grid-columns: minmax(0, 1fr) 10px minmax(0, 1fr) 10px minmax(0, 1fr) 10px minmax(0, 1fr);
  grid-template-columns: repeat(4, minmax(0, 1fr));
  color: #e6f9af;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cat-chaquetas-grid {
  background-color: #384e77;
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 25px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sec-pantalones {
  padding: 5% 0;
  overflow: hidden;
}

/* Imagen  +  texto */
.div-pantalones {
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: 5%;
}

.h-pantalones {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -150%);
  -ms-transform: translate(-50%, -150%);
  transform: translate(-50%, -150%);
  font-family: "Montserrat";
}

/* catalogo */
.cat-pantalones {
  padding-top: 1%;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-grid-columns: minmax(0, 1fr) 10px minmax(0, 1fr) 10px minmax(0, 1fr) 10px minmax(0, 1fr);
  grid-template-columns: repeat(4, minmax(0, 1fr));
  color: #e6f9af;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cat-pantalones-grid {
  background-color: #384e77;
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 25px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Imagen  +  texto */
.sec-remeras {
  padding: 5% 0;
  overflow: hidden;
}

.div-remeras {
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: 5%;
}

.h-remeras {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -150%);
  -ms-transform: translate(-50%, -150%);
  transform: translate(-50%, -150%);
  font-family: "Montserrat";
}

/* tienda */
.tienda-section-c {
  padding: 3em 0;
}

/* catalogo */
.t12c-c {
  padding-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.25em 0;
}

.t12c-c-style {
  font-family: "TiemposFont";
  color: #0d0630;
}

.t12c-c-style2 {
  text-decoration: none;
}

.t12c-c-style3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  color: red;
}

@media screen and (min-width: 701px) {
  .t12b-c {
    padding-top: 10px;
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .t12b-c {
    padding-top: 10px;
    display: block;
  }

  .logo-sec {
    font-family: "Yellowtail";
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #0d0630;
    padding-left: 0.75em;
    font-size: 1.1em;
  }
  .logo-sec:hover {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
}
/* Marca superior derecho */
/* div img */
.txt-imag-div {
  text-align: center;
  color: white;
  padding-bottom: 5%;
}

/* texto */
@media screen and (min-width: 701px) {
  .txt-imag-txt {
    position: absolute;
    top: 8%;
    left: 89%;
    transform: translate(-50%, -150%);
  }
}
@media screen and (max-width: 700px) {
  .txt-imag-txt {
    position: absolute;
    top: 8%;
    left: 85%;
    transform: translate(-50%, -150%);
  }
}
/* Tienda index */
@media screen and (min-width: 701px) {
  .txt-imag-txt-i {
    position: absolute;
    top: 10%;
    left: 89%;
    transform: translate(-50%, -150%);
  }
}
@media screen and (max-width: 700px) {
  .txt-imag-txt-i {
    position: absolute;
    top: 10%;
    left: 85%;
    transform: translate(-50%, -150%);
  }
}
@media screen and (min-width: 1024) {
  .txt-imag-txt-i {
    position: absolute;
    top: 10%;
    left: 85%;
    transform: translate(-50%, -150%);
  }
}

/*# sourceMappingURL=style.css.map */
