@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* --------------------- Header --------------------- */
#menu {
  background: #0d0630;
  color: #e6f9af;
  height: 60px;
  padding-left: 18px;
  display: flex;
  align-items: center;
  /* borde */
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

#menu ul,
#menu li {
  padding: 0;
  list-style: none;
}

#menu ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.menu-ul {
  margin-top: 1.6em;
}

#menu li {
  float: left;
  display: inline;
  position: relative;
}

.a-diable {
  pointer-events: none;
  cursor: default;
}

.header-txt {
  display: block;
  line-height: 5px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #e6f9af;
  position: relative;
  padding: 10px;
}

.header-txt.dropdown-arrow:after {
  content: "▾";
  margin-left: 5px;
}

.header-txt:hover {
  background-size: 100% 2px;
  color: white;
}

.header-effect {
  display: inline;
  padding-bottom: 4px;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

.header-effect:hover {
  background-size: 100% 2px;
}

#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

#menu label {
  display: none;
  line-height: 45px;
  text-align: center;
  position: absolute;
  left: 35px;
}

#menu label:before {
  font-size: 1.6em;
  content: "≡";
  margin-left: 20px;
}

#menu ul.sub-menus {
  height: auto;
  overflow: hidden;
  width: auto;
  background: #384e77;
  position: absolute;
  z-index: 99;
  display: none;
}

#menu ul.sub-menus li {
  display: block;
  width: 100%;
}

#menu ul.sub-menus a {
  color: #FFFFFF;
  font-size: 16px;
}

#menu li:hover ul.sub-menus {
  display: block;
}

#menu ul.sub-menus a:hover {
  background: #F2F2F2;
  color: #444444;
}

.logo {
  height: 20px;
  width: 20px;
  padding-bottom: 10px;
  font-family: "Yellowtail";
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #8bbeb2;
  list-style: none;
  text-decoration: none;
  transition: all 0.3s;
  padding-top: 10px;
}

.logo:hover {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media screen and (max-width: 600px) {
  #menu {
    position: relative;
    transition: all 2s;
  }

  #menu ul {
    background: #111;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
  }

  #menu ul.sub-menus {
    width: 100%;
    position: static;
  }

  #menu ul.sub-menus a {
    padding-left: 30px;
  }

  .menu-ul {
    margin-top: 0;
  }

  #menu li {
    display: block;
    float: none;
    width: auto;
  }

  #menu input,
#menu label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  #menu input {
    z-index: 4;
  }

  #menu input:checked + label {
    color: white;
  }

  #menu input:checked + label:before {
    content: "×";
  }

  #menu input:checked ~ ul {
    display: block;
  }

  .logo {
    height: 41px;
    width: 60px;
    padding-bottom: 10px;
    font-family: "Yellowtail";
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #8bbeb2;
    list-style: none;
    text-decoration: none;
    transition: all 0.3s;
    align-content: flex-start;
    justify-content: center;
    padding-top: 0;
  }

  .logo:hover {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
}
.color-background {
  background-color: rgba(0, 0, 0, 0.1);
}

.divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.divider2 {
  height: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 600px) {
  footer {
    display: flex;
    width: 100%;
    background-color: #0d0630;
    flex-direction: column;
    padding: 4% 0;
    color: #e6f9af;
    /* borde */
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }

  .contacto-ft {
    padding: 100px 0px;
  }

  .ft-subline {
    text-decoration: underline;
  }

  .ft-list {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 10px;
  }

  .ft-h3 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    padding-bottom: 6%;
    text-align: center;
    text-decoration: none;
  }

  /* siguenos seccion */
  .siguenos-ft {
    border-top: 1px solid #cac5c5;
    margin: 0 40px;
    padding-top: 7em;
    padding-bottom: 7em;
  }

  .logo-ft {
    font-family: "Yellowtail";
    font-size: 400%;
    text-align: center;
    padding-bottom: 10px;
    color: #8bbeb2;
    transition: all 0.3s;
  }

  .logo-ft:hover {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .txt-decoration,
.contacto-ft p {
    font-family: "Montserrat", sans-serif;
  }

  .txt-decoration:hover {
    color: white;
  }

  .txt-decoration,
.ft-insta-face,
.contacto-ft p {
    list-style: none;
    text-decoration: none;
    color: #e6f9af;
  }

  .ft-insta-face {
    display: flex;
    justify-content: center;
  }

  .ft-facebook-logo {
    padding-left: 11px;
  }

  .ft-instagram-logo {
    padding-left: 10px;
  }

  .bi-facebook,
.bi-instagram {
    color: #c41c4e;
    width: 40px;
    height: 40px;
    transition: all 0.3s;
  }

  .bi-facebook:hover,
.bi-instagram:hover {
    color: white;
  }

  /* faq seccion */
  .faq-ft {
    border-top: 1px solid #cac5c5;
    margin: 0 40px;
  }

  .ft-faq {
    padding-top: 100px;
  }

  .ft-faq-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* Footer pc */
@media screen and (min-width: 601px) {
  footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #0d0630;
    padding: 4% 0;
    color: #e6f9af;
    align-items: center;
  }

  .ft-h3 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    padding-bottom: 6%;
    text-align: center;
  }

  .logo-ft {
    font-family: "Yellowtail";
    font-size: 400%;
    text-align: center;
    padding-bottom: 10%;
    color: #8bbeb2;
    transition: all 0.3s;
  }

  .logo-ft:hover {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .txt-decoration,
.contacto-ft p {
    font-family: "Montserrat", sans-serif;
  }

  .txt-decoration:hover {
    color: white;
  }

  .txt-decoration,
.ft-insta-face,
.contacto-ft p {
    list-style: none;
    text-decoration: none;
    color: #e6f9af;
  }

  .ft-insta-face {
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
  }

  .bi-facebook,
.bi-instagram {
    color: #c41c4e;
    width: 40px;
    height: 40px;
    transition: all 0.3s;
  }

  .bi-facebook:hover,
.bi-instagram:hover {
    color: white;
  }

  .h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
  }
}
/*  --------------------- Marca PRINCIPAL --------------------- */
.intro-div {
  position: relative;
  text-align: center;
  color: #0d0630;
}

.intro-h {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Yellowtail";
  font-size: 8vw;
  cursor: default;
  font-weight: bold;
}

/* --------------------- Ofertas --------------------- */
.ofertas-article {
  background-color: #ececec;
}

.off-img {
  display: flex;
  justify-content: center;
  padding: 10% 0px;
}

.img-nuevo {
  width: 100%;
}

.ofertas-h2 {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
}

.ofertas-div {
  padding: 0px 40px 0px 20px;
}

/* --------------------- Tienda -------------------- */
.tienda-section {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

/*  Indice tienda mobile   */
@media screen and (min-width: 1024px) {
  .divcat-m {
    display: none;
  }

  .span-style-m {
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.25rem;
  }

  .u-font-p {
    font-size: 1rem;
    letter-spacing: -0.16px;
    line-height: 1.5rem;
  }
}
.u-font {
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.25rem;
}

.divcat-m {
  margin-top: 24px;
}

@media screen and (min-width: 320px) {
  .margtop {
    margin-top: 16px;
  }

  .padbott {
    padding-bottom: 16px;
  }
}
.divcat-m-sec {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  flex-wrap: nowrap;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

@media (hover: hover) and (pointer: fine) {
  .xl5r3s:hover:after {
    border-bottom-color: inherit;
  }

  .e134s7:hover {
    box-shadow: inset 0 0 0 2px #a2a3a8;
  }
}
.tap-m-sec {
  position: relative;
  text-decoration: none;
  outline: 0;
  padding: 12px;
  background-color: #efeff0;
  border-color: transparent;
  display: block;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.tap-m-sec:after {
  border-bottom-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  bottom: -3px;
  content: "";
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  transition: border 0.15s ease-in-out;
  width: 100%;
}

.span-style-m {
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
}

.u-span-nomar {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #1a1a1a;
}

.tap-m-padding-one {
  padding: 0 0.35em 0 0.75em;
}

.tap-m-padding {
  padding: 0 0.35em;
}

.u-span-nomar {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  font-family: helveticanow, helvetica, sans-serif;
}

.u-font-tw {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #1a1a1a;
}

/* Div Tienda */
@media screen and (min-width: 768px) {
  .div-tienda {
    margin-left: 24px;
    margin-right: 24px;
  }

  .div-tienda .div-tienda {
    margin-left: -8px;
    width: calc(100% + 16px);
  }

  .div-tienda .kpgvnb {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .div-tienda {
    margin-left: auto;
    margin-right: auto;
    max-width: 1216px;
  }
}
.div-tienda-b {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

.t2b {
  margin-top: 24px;
  flex-basis: 25%;
  max-width: 25%;
  display: none;
}

@media screen and (min-width: 1024px) {
  .t2b {
    margin-top: 16px;
    display: flex;
    margin-top: 16px;
  }
}
.t3b {
  font-weight: bold;
  padding-bottom: 12px;
  display: inline-flex;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.t4a {
  padding-left: 12px;
}

.t5a {
  list-style: none;
}

.t5a a {
  text-decoration: none;
}

.t6a {
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.t6ahover:hover {
  color: #0d0630;
}

/* WRAP */
.t6a {
  padding-left: 6px;
  padding-right: 6px;
  flex-basis: 100%;
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  .t6a {
    flex-basis: 75%;
    max-width: 75%;
  }
}
.t7a {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.t8a {
  padding-left: 6px;
  padding-right: 6px;
  flex-basis: 50%;
  max-width: 50%;
  position: relative;
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
  .t8a {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}
@media screen and (min-width: 480px) {
  .t8a {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}
.t9a {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
}

.t10a {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: 144.357%;
}

.t11a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.t12a {
  height: auto;
  width: 100%;
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 701px) {
  .t12b {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-sec {
    font-family: "Yellowtail";
    font-size: 1.75em;
    font-weight: bold;
    color: #0d0630;
    list-style: none;
    text-decoration: none;
    padding-right: 0.75em;
  }
}
@media screen and (max-width: 700px) {
  .t12b {
    padding-top: 10px;
    display: block;
    left: 50%;
  }

  .logo-sec {
    font-family: "Yellowtail";
    font-size: 1.1em;
    font-weight: bold;
    color: #0d0630;
    list-style: none;
    text-decoration: none;
    padding-left: 0.75em;
  }
}
.t12c {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1em;
  display: flex;
  justify-content: center;
}

/* --------------------- Nuevo --------------------- */
.nuevo-section {
  background-color: #ececec;
  padding-top: 202px;
  overflow: hidden;
}

.nuevo-div {
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: 5%;
}

.nuevo-h {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
}

/* grid de tienda-nuevo */
.tienda-n {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-new {
  background-color: #ececec;
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  flex-wrap: wrap;
  font-size: 25px;
  text-align: center;
  color: #e6f9af;
}

/* --------------------- Diseño nuevo inferior --------------------- */
.diseño-nuevo-inferior {
  fill: #ececec;
  padding-bottom: 10%;
}

.page-title {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  padding: 3em 3em;
  border-bottom: 1px solid #cac5c5;
  margin: 0 40px;
}

.sec-map-txt {
  padding: 3em;
}

/* .box-shadow{
    box-shadow: 0 0.1rem 0.4rem 0 rgb(50 50 50 / 50%);
    padding-bottom: -15px;
} */
strong {
  font-weight: bold;
  font-size: 1em;
}

@media screen and (max-width: 991px) {
  .local-dire {
    padding-top: 2em;
  }
}
.flip-box-n {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10% 0px;
  font-family: "Montserrat", sans-serif;
}

.flip-box-n h2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5%;
  font-family: "Montserrat", sans-serif;
}

.flip-box-n p {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15%;
  font-family: "Montserrat", sans-serif;
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  padding: 10px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-back {
  transform: rotateX(180deg);
}

/* Frente */
.flip-box-front {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  border-radius: 15px;
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #384e77;
  color: #e6f9af;
}

/* Style the back side */
.flip-box-back {
  background-color: #384e77;
  color: #e6f9af;
  transform: rotateY(180deg);
}

.sec-chaquetas {
  padding: 5% 0;
  overflow: hidden;
}

/* Imagen  +  texto */
.div-chaquetas {
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: 5%;
}

.h-chaquetas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  font-family: "Montserrat", sans-serif;
}

/* catalogo */
.cat-chaquetas {
  padding-top: 1%;
  display: grid;
  grid-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  color: #e6f9af;
  justify-content: center;
}

.cat-chaquetas-grid {
  background-color: #384e77;
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 25px;
  text-align: center;
  align-items: center;
}

.sec-pantalones {
  padding: 5% 0;
  overflow: hidden;
}

/* Imagen  +  texto */
.div-pantalones {
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: 5%;
}

.h-pantalones {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  font-family: "Montserrat", sans-serif;
}

/* catalogo */
.cat-pantalones {
  padding-top: 1%;
  display: grid;
  grid-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  color: #e6f9af;
  justify-content: center;
}

.cat-pantalones-grid {
  background-color: #384e77;
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 25px;
  text-align: center;
  align-items: center;
}

.sec-remeras {
  padding: 5% 0;
  overflow: hidden;
}

/* Imagen  +  texto */
.div-remeras {
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: 5%;
}

.h-remeras {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  font-family: "Montserrat", sans-serif;
}

/* catalogo */
.cat-remeras {
  padding-top: 1%;
  display: grid;
  grid-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  color: #e6f9af;
  justify-content: center;
}

.cat-remeras-grid {
  background-color: #384e77;
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 25px;
  text-align: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
