// Variables
@import "../components/variables";

.tienda-section {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ECECEC;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23f0f0f0' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23f4f4f4' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f8f8f8' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23fbfbfb' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23FFFFFF' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23fbfbfb' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f8f8f8' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f4f4f4' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f0f0f0' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ECECEC' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.tienda-section,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

/*  Indice tienda mobile   */
@media screen and (min-width:1024px) {

    .divcat-m {
        display: none;
    }

    .span-style-m {
        font-size: 1em;
        letter-spacing: 0;
        line-height: 1.25em
    }

    .u-font-p {
        font-size: 1em;
        letter-spacing: -.16px;
        line-height: 1.5em
    }

    .t6a {
        padding-left: 0;
        padding-right: 0;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }



}

.u-font {
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.25em
}

.divcat-m {
    margin-top: 24px;
}

@media screen and (min-width:320px) {
    .margtop {
        margin-top: 16px
    }

    .padbott {
        padding-bottom: 16px
    }

}


.divcat-m-sec {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

@media (hover:hover) and (pointer:fine) {
    .xl5r3s:hover:after {
        border-bottom-color: inherit
    }

}

.tap-m-sec {
    position: relative;
    text-decoration: none;
    outline: 0;
    padding: 12px;
    background-color: #efeff0;
    border-color: transparent;
    display: block;

    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);

}

.tap-m-sec:after {
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    bottom: -3px;
    content: "";
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    -webkit-transition: border .15s ease-in-out;
    -o-transition: border .15s ease-in-out;
    transition: border .15s ease-in-out;
    width: 100%
}

.span-style-m {
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.25em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 400;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 400;



}

.u-span-nomar {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700;

    color: #1a1a1a
}

.tap-m-padding-one {
    padding: 0 .35em 0 0.75em;
}

.tap-m-padding {
    padding: 0 .35em;
}


.u-span-nomar {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 400;
    font-family: helveticanow, helvetica, sans-serif
}

.u-font-tw {
    font-weight: 700;

    color: #1a1a1a;
}

/* Div Tienda */

@media screen and (min-width:768px) {
    .div-tienda {
        margin-left: 24px;
        margin-right: 24px
    }

    .div-tienda .div-tienda {
        margin-left: -8px;
        width: calc(100% + 16px)
    }

    .div-tienda .kpgvnb {
        padding-left: 8px;
        padding-right: 8px
    }
}

@media screen and (min-width:1280px) {
    .div-tienda {
        margin-left: auto;
        margin-right: auto;
        max-width: 1216px
    }
}


.div-tienda-b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}


.t2b {
    margin-top: 24px;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
    display: none;
}

@media screen and (min-width:1024px) {
    .t2b {
        margin-top: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 16px;
    }
}


.t3b {
    font-weight: bold;
    padding-bottom: 12px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 0;
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.t4a {
    padding-left: 12px
}


.t5a {
    list-style: none;

}

.t5a a {
    text-decoration: none;

}

.tienda-effect:hover {
    border-bottom: 2px solid $colores-foothead;

}

.t6a {
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.25em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0;
    margin-top: 0;

    color: $colores-txt-black;

}

.t6a-b {
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.25em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0;
    margin-top: 0;

    color: $colores-txt2;
}

.t6ahover:hover {
    color: $colores-foothead;

}



/* WRAP */

.t6a {
    padding-left: 6px;
    padding-right: 6px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

@media screen and (min-width:1024px) {

    .t6a {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
    }

}


.t7a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
}


.t8a {
    padding-left: 6px;
    padding-right: 6px;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    position: relative;
    padding-top: 24px;
}

@media screen and (min-width:768px) {
    .t8a {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
        max-width: 33.33333%
    }
}

@media screen and (min-width:480px) {
    .t8a {
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
        max-width: 33.33333%
    }

}



.t9a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.t10a {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 144.357%;
    border: solid rgba(13, 6, 48, .15);
    border-width: 1px 1px;
}


.t11a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


.t12a {
    height: auto;
    width: 101%;

    -webkit-box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;

    &:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);

    }

}


@media screen and (min-width:701px) {
    .t12b {
        padding-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .logo-sec-tienda {
        @include logo;
        font-size: 1.35em;
        color: $colores-foothead;
    }
}

@media screen and (max-width:700px) {
    .t12b {
        padding-top: 10px;
        display: block;
        left: 50%;
    }

    .logo-sec-tienda {
        @include logo;
        font-size: 1.1em;
        color: $colores-foothead;

    }
}

.t12c {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}