@import "../components/variables";
.sec-camperas {
    padding: 5% 0;
    overflow: hidden;
}
/* Imagen  +  texto */
.div-camperas {
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 5%;
}
.h-camperas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    font-family: 'Montserrat', sans-serif;
}
/* catalogo */
.cat-camperas {
    padding-top: 1%;
    display: grid;
    grid-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    color: $colores-txt;
    justify-content: center;
}
.cat-camperas-grid {
    background-color: #384e77;
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 25px;
    text-align: center;
    align-items: center;
}