// Variables
@import "../components/variables";

// Camisetas


/* Imagen  +  texto */
.sec-remeras {
    padding: 5% 0;
    overflow: hidden;
}

.div-remeras {
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 5%;
}

.h-remeras {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -150%);
    -ms-transform: translate(-50%, -150%);
    transform: translate(-50%, -150%);
    font-family: $Montserrat;
}

/* tienda */
.tienda-section-c {
    padding: 3em 0;
}

/* catalogo */
.t12c-c {

    padding-left: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .25em 0;

}

.t12c-c-style {
    font-family: $TiemposFont;
    color: $colores-foothead;
}

.t12c-c-style2 {
    text-decoration: none;
}

.t12c-c-style3 {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    color: red;
}

@media screen and (min-width:701px) {
    .t12b-c {
        padding-top: 10px;
        display: block;
    }

}

@media screen and (max-width:700px) {
    .t12b-c {
        padding-top: 10px;
        display: block;
    }

    .logo-sec {
        @include logo;
        color: $colores-foothead;
        padding-left: .75em;
        font-size: 1.1em;

    }
}