// Variables
@import "../components/variables";


/*  --------------------- Marca PRINCIPAL --------------------- */
.intro-div {
    position: relative;
    text-align: center;
    color: #0d0630;
    border: solid rgba(0, 0, 0, .15);
    border-width: 0px 0;
    -webkit-box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 20%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 20%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);

}

.intro-h {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Yellowtail';
    font-size: 8vw;
    cursor: default;
    font-weight: bold;

}

/* --------------------- Ofertas --------------------- */
.ofertas {
    padding-top: 2em;
}



@import "../components/tienda";
/* --------------------- Nuevo --------------------- */
.nuevo-section {
    background-color: $colores-g;
    padding-top: 202px;
    overflow: hidden;
}

.nuevo-div {
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 5%;
}

.nuevo-h {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
/* tienda nuevo */


.grid-new {
    background-color: $colores-g;
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 25px;
    text-align: center;
    color: $colores-txt;
}

/* --------------------- Diseño nuevo inferior --------------------- */
.diseño-nuevo-inferior {
    fill: $colores-g;
    padding-bottom: 10%;
}