// Variables
@import "../components/variables";


* {
    margin: 0;
    padding: 0;
}

/* --------------------- Header --------------------- */
header {
    background-color: $colores-foothead;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    display: inline-block
}

#user-navbar {
    margin: 0;
    padding: 0;
    display: flex;
}

#disable {
    display: none;
    margin-left: 2empx;
}

#disable2 {
    display: inline;

}
/* logo */
.logo {
    padding: 0 1em 0 1em;
    font-family: 'Yellowtail';
    font-size: 2em;
    font-weight: bold;
    color: #8bbeb2;
    text-decoration: none;
    transition: all 0.3s;
    border-right: 1px solid #afbef03a;

    &:hover {
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}
/* texto */
.txt-header {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: $colores-txt2;

    &:hover {
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

}
/* efectos/colores */
.header-effect {
    display: inline;
    padding-bottom: 4px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 1% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
}

.header-effect:hover {
    background-size: 100% 2px;
}

#navbar-color {
    border-color: #afbef03a;
    border: 4px solid #afbef03a;

}

.fill-icon-navbar {
    fill: $colores-txt2;
    width: 2em;

}

.navbar-pad {
    padding-left: 2em
}

#navbar-pad-li {
    padding-right: 2em;
    padding-left: 2em;
}

.navbar-pad-ul {
    padding-left: 2em;
}

.fill-icon-navbar {
    fill: $colores-txt2;
    width: 50px;

}

.icon-nav {
    padding: 0 3em 0 0.75em;
    border-left: 1px solid #afbef03a;
}

/* mobile */
@media (max-width: 991px) {
    .icon-nav {
        padding: 0 3em 0 0.75em;
        border-left: 0;
        display: flex;
        justify-content: end;
    }

    .navbar-nav-border {
        border-top: 1px solid #afbef03a;
        padding-top: 1em;
        margin-top: 0.75em;
    }

    #user-navbar {
        margin: 0;
        padding: 0;
        display: flex;
    }

    #disable {
        display: inline;
    }

    #disable2 {
        display: none;
    }
}